body {
    margin: auto;
    font-family: 'Open Sans' , sans-serif;
    
}

#particles-js {
    position: absolute;
    z-index: -1;
    background: rgb(1, 1, 16);
    height: 3050px;
    width: 100%;
}
.navbar {
    background:rgba(7, 12, 19, 0.9);;
    overflow: none;
    text-decoration: none;
    position: fixed;
    padding: 2px;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    z-index: 9;
}

.navbar a {
    float: left;
    color:rgba(255, 255, 255, 0.638);
    text-align: center;
    padding: 0px 0px 0px 10px;
    font-size: 18px;
    text-decoration: none;
    border: thick;
}

.navbar a:hover {
    background-color:rgba(7, 12, 19, 0.5);;
    color: rgb(255, 255, 255);
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
textarea {
    height: 50%;
    width: 50%;
}

input {
    width: 50%;
}

ul {
    margin: 0;
    padding: 5px;
    list-style-type: none;
    text-decoration: none;
}

#socialMedia {}

#intro {
    margin: auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    padding-right: 20px;
    top: 50%;
    max-width: 1280px;   
}
#aboutMe{
    margin: auto;
    color: white;
    font-size: 28px;
    text-align: center;
     font-family: 'Open Sans' , sans-serif;
     max-width: 400px;
     position: relative;
     align-content: center;
     /* background: rgba(7, 12, 19, 0.5); */
     padding: 20px;
}

#moonLeft {
  
    min-width: 400px;
    float: left;
    padding-left:6px;
}
#skills{
    margin: auto;
    color: white;
    font-size: 24px;
    max-width: 800px;
    position: relative;
    align-content: center;
    padding-bottom: 175px;
    /* background: rgba(7, 12, 19, 0.5); */
}

#skills img{
    float: right;
    max-width: 400px;
    position: relative;
}
#contactSection {
    margin: auto;
    width: 80%;
    color: white;
    /* background: rgba(7, 12, 19, 0.5); */
    padding: 10px 10px 10px 10px;
    position: relative;
    align-content: center;
}
