html,
html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
.header {
    background: rgb(50, 49, 50);
    overflow: none;
    text-decoration: none;
    position: fixed;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 9;
}
.header a {
    float: left;
    color: white;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    min-width: 100px;   
    padding: 2px;
    width: 33.333%;
}
.header img{
    width: 32px;
    height: 32px;
}
.header a:hover {
    background: rgb(60, 60, 60);
   
}

.footer a:hover {
    background: rgb(60, 60, 60);
    
}

.header ul {
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

.footer {
    background: rgb(50, 49, 50);
    overflow: none;
    text-decoration: none;
    position: fixed;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
}

.footer a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    width: 33.3%;
    padding: 2px;
   
}

.footer ul {
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    width: 100%;
    float: right;
}
.footer img{
    width: 32px;
    height: 32px;
}
#particles-js canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease;
    background: rgb(208, 228, 235);
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0
}
#content{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 75px;

}
#mediaBar{ 
    position: relative;
    width: 100%;
    float: right;
    background-color: rgb(60, 122, 190);
    padding-top: 10px;
  
}
#mediaBar li{
    width: 38px;
    float: right;
    list-style: none;
      
}

#mediaLeft{
    width: 100%;
    height: auto;
    font-size: 24px;
    
}
#mediaBar h3{
    color: white; 
    padding-left: 10px;
    
}
/* end of nav bars */
#theBuilders{
    text-align: center;  
    background-color: rgba(80, 176, 214, 0.322);
}
#theBuilders h1{
   background-color: rgb(60, 122, 190);
   font-size: 22px;
   padding:5px ;
   color: rgb(255, 255, 255);
}
#theBuilders h2{
    font-size: 1em;
}
#theBuilders h4{
    background: rgb(30, 30, 30);
    font-size: 22px;
    padding:5px ;
    color: white;
}
h3{
    color: rgb(60, 122, 190);
    font-size: 20px;
}
#theBuilders li{
    text-align: left;
}

#buildersAccessList{
    list-style-type: circle;
    padding-left: 20px;
}


.StripeElement {
    background-color: rgb(255, 255, 255);
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #193d69;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
  #payment-form{
      padding-bottom: 75px;
  }



  #overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.637);
    /* Black background with opacity */
    z-index: 20;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

#text {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 1.2em;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#text h1 {
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: 0 auto;
    width: 8em;
    height: 50px;
    padding-bottom: 20px;
}

#text p {
    max-width: 600px;
    margin: 0 auto;
}

#overlayButton {
    text-align: center;
    margin: 0 auto;
    /* background: rgba(0, 0, 0, 0.651); */
    width: 50%;
    min-width: 150px;
    max-width: 300px;
}

.overlayVideo {
    margin: 0 auto;
}
video{
    height: 100vh;
}


  @media only screen and (max-width: 420px) {
    #mediaBar h3{
      font-size: 10px;
    }
}